body {
    background-image: url('images/music.jpg');
    color: #FFFFFF;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #ff1111;
}
.button {
    background-color: #ff1;
    border: 2px solid #ff1;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 5px 100px;
    cursor: pointer;
}
div {
    padding-left: 25px;
    padding-right: 25px;
}